body {
	font-family: 'Roboto Condensed', sans-serif;
  background-color: black;
color: white;
margin: 25px;
   
}

h1 {
  font-size: 100px
}

p {
  font-size:25px;

}
.modal-backdrop {
   background-color: grey;
}

.modal-header {
   
    background-color: black;
    text-align: center;
    
}

.modal-content {
  background-color: black;
  text-align: center;
  font-size: 10px

}

.modal-body p{
    text-align:center;
    font-size:20px;
    font-family: 'sans-serif'
}





$('.carousel').carousel({
  interval: false
}) 

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      padding-top: 100px
  }

.btn {
    border-radius: 0px;
    color:white;
    background-color: grey;
  border-color: grey;


}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: black;
}


.carousel-control {
	color:#000000;
}
.carousel-control.left, .carousel-control.right {
    background-image: none

}

.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 100px;
    color: black;
}

.carousel-indicators li {
border-radius: 0;
 background: black;

}



.pull-left {
  float: left !important;
}

.pull-right {
  float: left !important;
}

.navbar {

    background-color: black;
    border-color: black;
    font-size: 20px;
    color: grey;
    font-family: 'Montserrat Alternates', sans-serif;

}
ul.nav a:hover { color: white !important;

}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:20px;
}

body {
      position: relative; 
  }
  #section1 {padding-top:50px;height:800px;color: black; background-color: #FFFFFF;}
  #section2 {padding-top:50px;height:300px;color: black; background-color: #bcbcc8;}
  #section3 {padding-top:50px;height:300px;color: black; background-color: #FFFFFF;}
  #section4 {padding-top:30px;height:200px;color: black; background-color: #bcbcc8;}
  
}


	

}

.pagination{
    display:table;
    margin:0 auto;
    border-color: grey;
    background-color: grey;


}

